<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="org.apache.cordova.core.network-information"
      version="0.1.0">

    <name>Geolocation</name>
    <description>Cordova Geolocation Plugin</description>
    <license>Apache</license>
    <keywords>cordova,geolocation</keywords>

    <!-- firefoxos --> 
    <platform name="firefoxos">
        <config-file target="config.xml" parent="/*">
            <param name="firefox-package" value="Geolocation" />
        </config-file>                                      
        
        <source-file src="src/firefoxos/geolocation.js" />
    </platform>
            
</plugin>
